<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calcular la Potencia Máxima</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4 text-center">Calcular la Potencia Máxima</h1>
    <form method="post">
        <div class="mb-3">
            <label for="G" class="form-label">Irradiancia (W/m²)</label>
            <input type="number" class="form-control" id="G" name="G" step="10" value="1000" required>
        </div>
        <div class="mb-3">
            <label for="T" class="form-label">Temperatura (K)</label>
            <input type="number" class="form-control" id="T" name="T" step="1" value="298" required>
        </div>
        <div class="mb-3">
            <label for="num_panels_series" class="form-label">Número de paneles en serie</label>
            <input type="number" class="form-control" id="num_panels_series" name="num_panels_series" step="1"
                   value="1" required>
        </div>
        <div class="mb-3">
            <label for="num_panels_parallel" class="form-label">Número de paneles en paralelo</label>
            <input type="number" class="form-control" id="num_panels_parallel" name="num_panels_parallel" step="1"
                   value="1" required>
        </div>
        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>
    {% if Vmpp %}
        <h2 class="my-4 text-center">Resultados</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Corriente (A)</th>
                <th>Voltaje (V)</th>
                <th>Potencia (W)</th>
            </tr>
            </thead>
            <tbody>
            {{ resultados }}
            </tbody>
        </table>
        <p class="h3">Vmp = {{ '%.2f' % Vmpp }} V, Imp = {{ '%.2f' % Impp }} A, Pmax = {{ '%.2f' % P_max }} W</p>
    {% endif %}
    
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>